@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row justify-content-md-center">
    <div class="container-fluid">

        <div class="card border border-dark bg-mustardlite m-2">
            <div class="card-header justify-content-center">
                <h3 class="justify-content-center fw-bold">LOG IN</h3>
            </div>
            <div class="card-body">
                <div class="container-fluid mx-1">
                    <form method="Post">
                        <div class="form-group justify-content-center">
                            <label asp-for="View.Email">Email</label>
                            <input type="email" class="form-control" placeholder="Enter user name" asp-for="View.Email">
                        </div>
                        <div class="form-group">
                            <label asp-for="View.Password">Password</label>
                            <input type="password" class="form-control" placeholder="Enter password" asp-for="View.Password">
                        </div>
                        <div class="form-group alert-danger">
                            @Html.ValidationSummary()
                        </div>
                        <div class="row align-content-center justify-content-center">
                            <button type="submit" class=" col-5 btn btn-info border border-light justify-content-center">Log in</button>
                        </div>
                        
                        <div class="row align-content-center justify-content-center">
                            <p class="justify-content-center">Don't Have an account? <a href="~/manage/Account/SignUp" class="justify-content-center ">Sign Up</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
